<section id="about" class="about">
  <div class="container">

    <div class="section-title">
      <h2>About Me</h2>
      <p class="fst-italic"> A litle about me
      </p>
    </div>

    <div class="row">
      <div class="col-md-4 image">
        <img src="{{ '/assets/img/Simge_nb_square.png'| relative_url }}" class="img-fluid" alt="">
      </div>

      <div class="col-md-8 pt-3 pt-md-1 content d-flex flex-column align-items-stretch">
        <p class="fst-italic">
          Simge Ekiz Basar
        </p>
        <div>
          <ul>
            <li>
              <i class="fa-solid fa-angle-right"></i> <strong>Degree:</strong> <span>Data Science Master</span>
            </li>
            <li>
              <i class="fa-solid fa-angle-right"></i> <strong>Email:</strong>
              <span>simgeekiz48@gmail.com</span>
            </li>
            <li>
              <i class="fa-solid fa-angle-right"></i> <strong>Languages:</strong>
              <span>Python, Javascript, Perl, C</span>
            </li>
          </ul>
        </div>
        <p class="fst-italic">I graduated Msc Data Science at Radboud University. Now I am working at FloodTags as a
          Software Pragrammer. I am enthusiastic about learning and doing research. <br>
          I like to keep my knowledge up-to-date and my interest is mainly machine learning and event detection
          applications.
        </p>
      </div>
    </div>

  </div>
</section>

<section id="facts" class="facts">
  <div class="container">

    <div class="section-title">
      <h2>Fun Facts</h2>
    </div>

    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="count-box">
          <i class="fa-solid fa-bolt"></i>
          <span>939</span>
          <p>Days Streak on Duolingo</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
        <div class="count-box">
          <i class="fa-solid fa-shoe-prints"></i>
          <p>I like to dance amateurly</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
        <div class="count-box">
          <i class="fa-solid fa-cat"></i>
          <p>I have an emotionally attached cat</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
        <div class="count-box">
          <i class="fa-regular fa-object-group"></i>
          <p>I like designing things, like raspberry pi cases</p>
        </div>
      </div>
      <!-- Sometimes all I think about is food -->
    </div>

  </div>
</section>