<footer id="footer">
  <div class="container">
    <div class="row mb-auto">
      <div class="col-md">
        <div>
          <h3>Connect With Me</h3>
          <ul class="list-unstyled social-links">
            <li>
              <a href="https://twitter.com/veesimsim" target="_blank">
                <i class="fa-brands fa-twitter"></i>
              </a>
            </li>
            <li>
              <a href="https://codepen.io/veesimsim" target="_blank">
                <i class="fa-brands fa-codepen"></i>
              </a>
            </li>
            <li>
              <a href="https://github.com/simgeekiz" target="_blank">
                <i class="fa-brands fa-github"></i>
              </a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/simgeekiz/" target="_blank">
                <i class="fa-brands fa-linkedin-in"></i>
              </a>
            </li>
            <li>
              <a href="https://trello.com/u/veesimsim" target="_blank">
                <i class="fa-brands fa-trello"></i>
              </a>
            </li>
            <li>
              <a href="https://www.flickr.com/people/veesimsim/" target="_blank">
                <i class="fa-brands fa-flickr"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md">
        <div>
          <h3 class="">Contact</h3>
          <div class="block-23 mb-3">
            <ul class="list-unstyled">
              <li>
                <i class="fa-solid fa-location-dot"></i>
                <span class="text">The Netherlands
                </span>
              </li>
              <li>
                <i class="fa-regular fa-envelope"></i>
                <span class="text">simgeekiz48[at]gmail[dot]com</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-auto">
      <div class="col-10 copyright ">
        Copyright &copy; 2016, Simge Ekiz Basar<br>
        All Rights Reserved.
      </div>
      <a href="#hero" class="col-2 back-to-top d-flex align-items-center justify-content-center">
        <i class="fa-solid fa-angle-up"></i>
      </a>
    </div>
  </div>
</footer>