<section id="hero">
    <div class="hero-container">
        <img class="rounded-circle z-depth-2" alt="100x100" src="{{ '/assets/img/simge_square.jpg'| relative_url }}"
            data-holder-rendered="true">
        <h1>Simge Ekiz Basar</h1>
        <h2>I'm a <span class="typed" data-typed-items="Software Developer, Front End Developer, Data Scientist"></span>
        </h2>
        <a href="#about" class="btn-scroll scrollto" title="Scroll Down"><i class="fa-solid fa-angle-down"></i>
        </a>
    </div>
</section>